<div class="orders-list-header">
    <div class="row">
        <div class="col orders-list-header__title-block">
            <h2 ng-bind="$ctrl.title"></h2>
        </div>
        <div class="col orders-list-header__form-block">
            <form action="" class="orders-list-header-form">
                <input type="text" id="" class="orders-list-header-form__input" placeholder="Поиск заказа ..." ng-model="$ctrl.ordersListFilter">
            </form>
        </div>
        <div class="col orders-list-header__btn-block">
            <button type="submit" class="btn orders-list-header__btn" ng-click="$ctrl.createOrder()">Добавить заказ</button>
            <button type="submit" class="btn orders-list-header__btn orders-list-header__signout-btn" ng-click="$ctrl.logoutUser()">
                <img src="dist/img/signout.png" alt="Выйти из аккаунта">
            </button>
        </div>
    </div>
</div>

<table class="orders-list-table orders-list-table--hover">
    <thead>
        <tr>
            <th class="">ID заказа</th>
            <th class="">ID заказчика</th>
            <th class="">Цена</th>
            <th class="">Товары в заказе</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="order in $ctrl.orders | filter:$ctrl.ordersListFilter">
            <td>
                <a href="#!/orders/{{order.id}}" ng-bind="order.id"></a>
            </td>
            <td class="" ng-bind="order.customerId"></td>
            <td class="" ng-bind="order.price"></td>
            <td class="" ng-bind="order.price"></td>
        </tr>
    </tbody>
</table>